/* General Elements*/
body{
	background-image: url("../images/background.png")
}
div{
	background-color:lemonchiffon;
	margin: 10px;
	width: 50%
}
div{
	border: solid 2px rgb(195, 130, 238);
	padding: 10px;
}
h1, h3, span{
	font-weight: bold;
	text-align: left;
}
h1{
	font-size: 30pt;
}
ol{
	list-style: decimal inside; 
}
ul {
	list-style: disc inside;
	text-indent: 20px;
}
/* Specfic Elements*/
div.header, div.gems{
	background-color: #e0e0eb;
}
div.header, div.instructions{
	width: 95%;
}
/* Classes */
.numberToMatch, .winsAndLosses{
	float: center;
	width: 50%;
	height: 30px;
}
.userTotal{
	float: center;
	width: 50%;
	height: 20px;
}
.gems{
	float: center;
	clear: both;
}
.gemImage{
	float: center;
	height: 40px;
	margin: 10px;
}
/* IDs */
#blue{
	color: #3092c7;
}
#green{
	color: #00aa59;
}
#red{
	color: #ec4b5f;
}
#yellow{
	color: #ffc225;
}